.homePage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ===========> PAGE HOME : VITRINE <=========== */

.home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.showcase {
  background-image: url("C:\Users\zeina\Desktop\MoveInClient\src\files\Vintage Landscape.jpg");
  background-size: cover;
  background-position: bottom; /* Center the background image vertically and horizontally */
  height: 40vh;
  width: 65%;
  margin: 8rem auto;
  border-radius: 2px;
  font-size: 2rem;
  text-transform: initial;
  padding-top: 3rem;
  overflow: hidden;
}

.showcase .caption {
  z-index: 1;
  position: relative;
  text-align: center;
  padding: 180px;
  width: 460px;
}

.captionTitle {
  color: rgb(77, 72, 72);
  background-color: #e5eee7;
  font-family: Roxborough;
  font-size: 20px;
}

.renderPost {
  display: flex;
  margin-top: 20px;
}
