@font-face {
  font-family: "Roxborough";
  src: url("C:\Users\zeina\Desktop\MoveInClient\src\fonts\roxborough-cf-font\RoxboroughCF-Medium.otf");
}

@font-face {
  font-family: "Gistesy";
  src: url("C:\Users\zeina\Desktop\MoveInClient\src\fonts\gistesy-script-font-1710485193-0\gistesy-k7w0y.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("C:\Users\zeina\Desktop\MoveInClient\src\fonts\open-sans-font-family-1710485463-0\OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Hattori Hanzo";
  src: url("C:\Users\zeina\Desktop\MoveInClient\src\fonts\hattori-hanzo-font-1710489441-0\hattori-hanzo.otf");
}

* {
  font-family: "Open Sans";
  padding: 0;
  margin: auto;
  outline: none;
  text-decoration: none;
  border: none;
}

body {
  background-color: rgb(197, 186, 166);
}

.card {
  padding: 2em;
}
