#footer {
  color: #606060;
  border-top: 2px solid #606060;
  padding: 10px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links {
  display: flex;
}

.footer-link {
  color: #606060;
  text-decoration: none;
  margin-right: 20px;
}

.footer-social {
  display: flex;
}

.social-link {
  color: #fff;
  text-decoration: none;
}

.footer-bottom {
  text-align: center;
}
